{
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 120,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "useTabs": false,
  "semi": true,
  "arrowParens": "always",
  "requirePragma": false,
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "auto",
  "trailingComma": "all"
}